.custom-cld
{
    color: #990000;
}

h1 {
	color: #990000;
}
h2 {
	color: #990000;
}
h3 {
	color: #990000;
}
a {
	color: #990000;
}
.shadowbox {
  width: 100%;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
